@{
    ViewData["Title"] = "Stored Procedures";
}

<div class="text-center">
    <h1 class="display-4">Stored Procedures</h1>
    <hr />

    <form>
        <input asp-action="Solde_calc" class="btn btn-primary" type="submit" value="Solde_calc" />
    </form>
</div>